.creat__proect {
   margin-top: 264px;
   margin-bottom: 147px;
}

.creat__new {
   display: flex;
   align-items: center;
}

.creat__about {
   margin-left: 40px;
}

.creat__text-1 {
   font-weight: 700;
   font-size: 30px;
   color: #FEC104;
}

.creat__titel {
   width: 420px;
   margin-top: 15px;
   margin-bottom: 24px;
   font-weight: 700;
   font-size: 57px;
   color: rgba(14, 16, 22, 0.95);
}

.creat__text {
   width: 400px;
   margin-bottom: 26px;
   font-weight: 400;
   font-size: 22px;
   color: rgba(14, 16, 22, 0.95);
}