.footer__box {
   padding: 26px 25px 59px 40px ;
   background-color: #000000f2;
   border-radius: 20px;
}

.footer__old {
   display: flex;
   align-items: center;
   justify-content: space-between;
}