.hero__title {
   width: 1000px;
   margin-left: 103px;
   margin-bottom: 73px;
   font-weight: 400;
   font-size: 120px;
   line-height: 110px;
   text-align: center;
   letter-spacing: 2px;
   color: rgba(14, 16, 22, 0.95);
}

.hero__text {
   width: 537px;
   margin-left: 300px;
   font-weight: 400;
   font-size: 26px;
   text-align: center;
   color: #35393F;
}

.site__form {
   margin-top: 46px;
   margin-left: 313px;
}

.site__email-input {
   position: relative;
   padding: 9px 178px 9px 10px;
   font-weight: 400;
   font-size: 20px;
   color: #B2B2B2;
}

.button {
   position: absolute;
   left: 750px;
}

.site__email-input {
   border: 2px solid #0099FF;
}

.join__homerun {
   margin-top: 44px;
   margin-left: 358px;
   font-weight: 400;
   font-size: 20px;
   color: #B2B2B2;
}