.homerun__title {
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 36px;
   color: #000000;
   text-align: center;
}

.vido__watch {
   margin-left: 151px;
   position: relative;
}

.watch__vido-click {
   margin-left: 375px;
}

.vido__img-watch {
   margin-top: -5px;
}