.level__site {
   margin-top: 140px;
   margin-bottom: 130px;
}

.levl__list {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.two {
   text-align: center;
}

.one {
   text-align: center;
}