.messange__box {
   padding: 68px 0 20px 0;
   background-color: #181818;
   border-radius: 20px;
}

.new__messange-link {
   margin-left: 567px;
   padding: 10px 15px 10px 15px;
   background-color: #F64775;
   border-radius: 20px;
   font-weight: 400;
   font-size: 17px;
   color: #FFFFFF;
}

.massage__title-temple {
   margin: 0 0 0 0;
   font-weight: 700;
   font-size: 58px;
   text-align: center;
   color: #FFFFFF;
}

.massage__text {
   font-weight: 400;
   font-size: 22px;
   text-align: center;
   color: #F4F3F3;
}

.join__template {
   margin-top: 69px;
   margin-left: 501px;
   margin-bottom: 40px;
   padding: 14px 20px 17px 20px;
   background: #0099FF;
   border-radius: 8px;
   border: none;
   color: #ffffff;
   cursor: pointer;
}